In [1]:
print("Hello Jay!")

Hello Jay!

In [1]:
person = input("What's your name")
print('Hello,', person)

What's your nameEmmanuel Chukwuka Amarame
Hello, Emmanuel Chukwuka Amarame

In [4]:
age = 12
print(age)

12

In [5]:
x = 6
y = x * 7
print(y)

42

In [6]:
name = 'Adele Joe'
print(name)

Adele Joe

In [7]:
mango = 5
apple = 3
apple > mango

False

In [8]:
mango < apple

False

In [9]:
mango == apple

False

In [10]:
'''
We are writing a simple program here
First print statement.
This is a multiple line comment.

'''

print("Hello Guys")

#Second print statement
print("How are you all?")

#Third print statement 
print("Welcome to Python Programming")

Hello Guys
How are you all?
Welcome to Python Programming

In [11]:
num = 100
if 9 < num < 99:
    
        print("Two digit number")
    
elif 99 < num < 999:
    
        print("Three digit number")
    
elif 999 < num < 9999:
    
        print("Four digit number")
    
else:
        print("number is <= 9 or >= 9999 ")

Three digit number

In [12]:
if 9 < num < 99:
    print("Two digit number")
    
    if 99 < num < 999:
        
        print("Three digit number")
        
        if 999 < num < 9999:
            
            print("four digit number")
            
else: 
    
            print("number is <= 9 or >= 9999")

number is <= 9 or >= 9999

In [13]:
message = "Welcome to"
course_code = "CSC 102"
course_title = "Introduction to Problem solving"

concat = message+' '+course_code+' '+course_title

print(concat)

Welcome to CSC 102 Introduction to Problem solving